BOT_TOKEN=YOUR_BOT_TOKEN
ADMIN_ID=YOUR_ADMIN_ID

# 1. Укажите путь к вашему credentials.json для работы google_sheets
SERVICE_ACCOUNT_FILE=YOURSERVICE_ACCOUNT_FILE

# 2. Укажите ID вашей таблицы (из URL)
SPREADSHEET_ID=your_SPREADSHEET_ID